<launch>
  <!--
      Visualization of the allegro hand using rviz. Can be launched separately
      or by including it in another launch file.
  -->

  <arg name="robot_name" default="allegro_hand"/>

  <node ns="$(arg robot_name)" name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find allegro_hand_description)/allegro_hand_config.rviz" >
  </node>

</launch>
