<launch>
    <!-- which hand (left/right) -->
    <arg name="hand"/>

    <!-- Visualization with rviz. Default is false. -->
    <arg name ="visualize" default="true" />

    <!-- Select the robot -->
    <arg name="robot_name" default="allegro_hand_$(arg hand)"/>

    <!-- Select the gazebo controller -->
    <arg name="controller" default="PositionController"/>

    <!-- Is this Gazebo Client? -->
    <arg name="gzclient" default="false"/>

    <!-- Input using keyboard/cyberglove -->
    <arg name="keyboard" default="true"/>
    <arg name="cyberglove" default="false"/>

    <!-- Global z offset -->
    <arg name="global_z" default="0"/>

    <!-- Select the hardware interface -->
    <arg name="hardware_interface" value="EffortJointInterface"
        if="$(eval (controller == 'TorqueController')
             or (controller == 'PositionTorqueController'))"
    />
    <arg name="hardware_interface" value="PositionJointInterface"
        if="$(eval controller == 'PositionController')"
    />
    <arg name="hardware_interface" value="EffortJointInterface"
        unless="$(eval (controller == 'TorqueController')
                 or (controller == 'PositionTorqueController')
                 or (controller == 'PositionController'))"
    />

    <!-- Upload allegro_hand URDF -->
    <include file="$(find allegro_hand_description)/launch/allegro_hand_upload.launch">
        <arg name="hardware_interface"  value="$(arg hardware_interface)"/>
        <arg name="robot_name"          value="$(arg robot_name)"/>
        <arg name="hand"                value="$(arg hand)"/>
        <arg name="fix_to_world"        value="false"
             if="$(arg gzclient)" />
    </include>

    <!-- RVIZ -->
    <node if="$(arg visualize)" 
        ns="$(arg robot_name)" name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find allegro_hand_description)/allegro_hand_config.rviz" >
    </node>
    <node if="$(arg visualize)" 
        ns="$(arg robot_name)" name="rviz_gazebo_contacts"
        pkg="allegro_hand_gazebo" type="rviz_gazebo_contacts.py" output="screen"/>

    <!-- Launch Gazebo if not client -->
    <include unless="$(arg gzclient)"
        file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find allegro_hand_description)/worlds/allegro.world"/>
        <arg name="debug" value="false" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true" />
        <arg name="gui_required" value="true"/>
    </include>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node ns="$(arg robot_name)" name="urdf_spawner" pkg="gazebo_ros"
        type="spawn_model" respawn="false" output="screen"
        args="-urdf -model $(arg robot_name) -param robot_description
                -z $(arg global_z)"
    />

    <!-- Keyboard input -->
    <group if="$(arg keyboard)"> 
        <node ns="$(arg robot_name)" name="keyboard_handler"
            pkg="allegro_hand_keyboard"
            type="allegro_hand_keyboard_node"
            output="screen"
            >
            <remap from="allegroHand/lib_cmd" to="lib_cmd"/>
        </node>
        <node ns="$(arg robot_name)" name="gazebo_keyboard_cmd"
            pkg="allegro_hand_gazebo" type="gazebo_keyboard_cmd.py" output="screen"
        />
    </group>

    <!-- Cyberglove input -->
    <node if="$(arg cyberglove)"
        ns="$(arg robot_name)" name="cyberglove_cmd"
        pkg="allegro_hand_cyberglove" type="cyberglove_controller.py" output="screen">
        <remap from="/cyberglove/joint_states" to="/cyberglove/human_hand/joint_states"/>
    </node>

    <!-- Joint Space input -->
    <node ns="$(arg robot_name)" name="gazebo_joint_state_cmd"
        pkg="allegro_hand_gazebo" type="gazebo_joint_state_cmd.py" output="screen"
    />

    <!-- Spawn Gazebo Controllers -->
    <include file="$(find allegro_hand_controllers)/launch/allegro_hand_control.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="controller" value="$(arg controller)"/>
    </include>

</launch>
